.workBarContainer{
    margin-top: 32px;
}
.test{
    width: 100%;
    background: #FFFFFF;
    text-decoration: none;
    color: #334680;
}
.test:hover{
    color: #334680;
}
.jobBarContainer{
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    display: flex;
}
.workBarImgContainer img{
    display: flex;
    width: 100px;
    height: 100px;
    position: relative;
    top: 4px;
}
.titleEmpresa{
    margin: 0;
    margin: 16px 0 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
}
.titlePuesto{
    margin: 0;
    margin-top: 12px;
    margin-bottom: 4px;
    position: relative;
    bottom: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #334680;
}
.workMainInfoImgContainer button{
    width: 130px;
    height: 26px;
    background-color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #334680;
    border: 1px solid #334680;
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    max-width: 25ch;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.workBarDataJobContainer{
    display: flex;
    flex-direction: row;
    padding: 16px 0 14px;
}
.workBarCityContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.workBarDaysContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.fa-globe-europe{
    color: #B9BDCF;
    padding-right: 8px;
}
.workBarCityContainer p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 10.5px;
    line-height: 14px;
    color: #B9BDCF;
    padding-right: 28px;
    margin: 0;
}
.fa-clock{
    color: #B9BDCF;  
    padding-right: 8px;  
}
.workBarDaysContainer p{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #B9BDCF;
    margin: 0;
}
.paginationContainer{
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}
.spinnerLoading{
    position: relative;
    top: 50%;
    right: 50%;
}
@media only screen and (min-width: 1000px){
    .jobBarContainer{
        width: 52vw;
        height: 114px;
        position: relative;
    }
    .workBarDataJobContainer{
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .workListContainer{
        max-width: 100%;
        margin-left: 32px;
    }
    .workBarDaysContainer{
        padding-right: 12px;
    }
    .paginationContainer{
        margin: 30px 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .hiddenPagination{
        visibility: hidden;
    }
    .titlePuesto{
        margin: 0;
        margin-top: 12px;
        margin-bottom: 4px;
        position: relative;
        bottom: 4px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        color: #334680;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 40ch;
    }
    .workBarCityContainer p{
        overflow: hidden;
        max-width: 25ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
@media only screen and (min-width: 1100px){
    .workBarCityContainer p{
        max-width: 30ch;
    }
}
@media only screen and (min-width: 1200px){
    .titlePuesto{
        max-width: 50ch;
    }
    .workBarCityContainer p{
        max-width: 40ch;
    }
}
@media only screen and (min-width: 1300px){
    .titlePuesto{
        max-width: 55ch;
    }
    .workBarCityContainer p{
        max-width: 50ch;
    }
}
@media only screen and (min-width: 1400px){
    .titlePuesto{
        max-width: 60ch;
    }
    .workBarCityContainer p{
        max-width: 60ch;
    }
}
@media only screen and (min-width: 1500px){
    .titlePuesto{
        max-width: 65ch;
    }
}