.homeContainreAll{
    max-width: 95%;
    margin: auto;
    padding-top: 32px;
}
.gitHubTitle{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    color: #282538;
}
.gitHubTitle span{
    font-weight: normal;
}
.containetMainHome{
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 1000px){
    .homeContainreAll{
        max-width: 80%;
        margin: auto;
    }
    .containetMainHome{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}