.infoHeader{
    display: flex;
    flex-direction: column;
}
.infoHeader h1{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #334680;
}
.infoHeader button{
    width: 63px;
    height: 27.86px;
    border: 1px solid #334680;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #334680;
    cursor: pointer;
    background-color: transparent;
}
.infoHeader span{
    padding: 8px 0 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #B7BCCE;
}
.infoEmpresaWorkDetail{
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 34px;
}
.infoEmpresaWorkDetail img{
    width: 42px;
    height: 42px;
    border-radius: 4px;
}
.infoEmpresaWorkDetail h2{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #334680;
    padding-left: 12px;
}
.infoEmpresaWorkDetail span{
    display: flex;
    position: absolute;
    top: 30px;
    left: 72px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #B9BDCF;
}
.infoEmpresaWorkDetail span .fa-globe-americas{
    position: absolute;
    top: 1px;
    left: -16px;
}
.textContainerWorkDetail div p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #334680;
}
.infoLocation{
    padding-bottom: 40px;
}
.spinnerLoadingWorkDetail{
    position: relative;
    margin: 100px 0;
    left: 50vw;
}
@media only screen and (min-width: 1000px){
    .infoHeader{
        display: flex;
        flex-direction: row;
        position: relative;
        padding-bottom: 32px;
    }
    .infoHeader button{
        margin-left: 16px;
    }
    .infoHeader span{
        position: absolute;
        bottom: 0px;
    }
}